* {
    margin: 0;
    padding: 0;
}
.container{
    width: 98vw;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #329da8;
    border: 5px solid #3283a8;
    /*display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;*/
}

/* top menu */
.top_menu{
    width: 95%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.menu_button_wrap{
    width: 25%;
    height: 100%;
    float: left;
}
.menu_button{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #325ea8;
}
.menu_button:hover{
    background-color: #e37878;
    cursor: pointer;
}
/* top menu end */

.thematic_picture{
    width: 95%;
    height: 30%;
    /*background-color: blue;*/
    /*background-image: url("../img/sailboat.jpg");*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
}
.thematic_picture img{
    width: 100%;
    height: 100%;
}
.info_wrapper{
    width: 95%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sample_boat_picture{
    width: 15%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;

}
.sample_boat_picture img {
    width: 100%;
}
.business_description{
    width: 15%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}
.from_when{
    width: 30%;
    height: 90%;
    padding: 1%;
}
.to_when{
    width: 30%;
    height: 90%;
    padding: 1%;
}
.check{
    width: 10%;
    height: 90%;
    padding: 1%;
}
.search_button{
    border-radius: 10px;
    padding: 1%;
    width: 100%;
    height: 13%;
}