* {
    margin: 0;
    padding: 0;
}
.container{
    width: 98vw;
    height: 98vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #329da8;
    border: 5px solid #3283a8;
    /*display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;*/
}

/* top menu */
.top_menu{
    width: 95%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
.menu_button_wrap{
    width: 25%;
    height: 100%;
    float: left;
}
.menu_button{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #325ea8;
    font-size: 3vh;
    font-family: 'Lato', sans-serif;
}
.menu_button:hover{
    background-color: #e37878;
    cursor: pointer;
}
/* top menu end */

.thematic_picture{
    width: 95%;
    height: 30%;
    /*background-color: blue;*/
    /*background-image: url("../img/sailboat.jpg");*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
}
.thematic_picture img{
    width: 100%;
    height: 100%;
}
.info_wrapper{
    width: 95%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sample_boat_picture{
    width: 15%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;

}
.sample_boat_picture img {
    width: 100%;
}
.business_description{
    width: 15%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}
.from_when{
    width: 30%;
    height: 90%;
    padding: 1%;
}
.to_when{
    width: 30%;
    height: 90%;
    padding: 1%;
}
.check{
    width: 10%;
    height: 90%;
    padding: 1%;
}
.search_button{
    border-radius: 10px;
    padding: 1%;
    width: 100%;
    height: 11%;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}

/* boats list */
#available_boats_list{
    width: 70%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

/* boat search result single element */
.single_element_wrapper{
    width: 100%;
    height: 100%;
    background-color: red;
}
.boat_pic{
    margin: 2%;
    width: 40%;
    height: 90%;
    background-color: yellow;
    float: left;
}
.boat_desc{
    margin: 2%;
    width: 50%;
    height: 90%;
    background-color: orange;
    float: left;
}
.boat_uri{
    width: 96%;
    height: 30%;
    background-color: green;
    margin: 2%;
    font-size: 5vh;
    font-family: 'Lato', sans-serif;
}
.boat_short_description{
    width: 96%;
    height: 60%;
    background-color: blue;
    margin: 2%;
}

/* boat details */
.boat_details_wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
}
.boat_details_pic{
    margin: 1%;
    width: 40%;
    height: 90%;
    background-color: red;
    float: left;
}
.boat_details_desc{
    margin: 1%;
    width: 55%;
    height: 90%;
    background-color: blue;
    float: left;
}
.boat_details_long_desc{
    width: 98%;
    height: 70%;
    background-color: green;
    margin: 1%;
    font-size: 5vh;
    font-family: 'Lato', sans-serif;
}
.boat_details_reserve_button{
    width: 98%;
    height: 24%;
    background-color: yellow;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve_button{
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}

/* user data form */
.user_form_wrapper{
    width: 100%;
    height: 100%;
}
.user_details{
    width: 100%;
    height: 80%;
}
.properties_names{
    width: 30%;
    height: 100%;
    float: left;
}
.properties_values{
    width: 70%;
    height: 100%;
    float: left;
}
.property_name{
    width: 95%;
    height: 25%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}
.property_value{
    width: 80%;
    height: 25%;
    border: 5px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.property_value_input{
    width: 100%;
    height: 50%;
    clear: both;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}
.accept_button_wrapper{
    clear: both;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accept_button{
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    font-size: 2vh;
    font-family: 'Lato', sans-serif;
}

/* result */
.result_picture{
    width: 95%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    font-size: 5vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result_picture img{
    height: 100%;
}