<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wypożyczalnia Lodzi</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/gh/marcellosurdi/DateTimePickerComponent/dist/css/date-time-picker-component.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/marcellosurdi/DateTimePickerComponent/dist/js/date-time-picker-component.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reservation.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="top_menu">
            <div class="menu_button_wrap">
                &nbsp;
            </div>
            <div class="menu_button_wrap">
                <button class="menu_button" id="main">Strona główna</button>
            </div>
            <div class="menu_button_wrap">
                <button class="menu_button" id="boats_description">Opis łodzi</button>
            </div>
            <div class="menu_button_wrap">
                <button class="menu_button" id="contact">Kontakt</button>
            </div>
        </div>
        <div class="thematic_picture">
            <img src="{{ url_for('static', filename='img/sailboat.jpg') }}" />
        </div>
        <div class="info_wrapper">
            <div id="boat_config_json" class="boat_config_json">
                {{ config_json }}
            </div>

            <div id="boat_details_wrapper" class="boat_details_wrapper">
                <div class="boat_details_pic">

                </div>
                <div class="boat_details_desc">
                    <div class="boat_details_long_desc">

                    </div>
                    <div class="boat_details_reserve_button">
                        <button class="search_button" id="reserve_button">Rezerwuj!</button>
                    </div>
                </div>
            </div>
            <div id="user_form_wrapper" class="user_form_wrapper">
                <div class="user_details">
                    <div class="properties_names">
                        <div class="property_name">
                            Imię
                        </div>
                        <div class="property_name">
                            Nazwisko
                        </div>
                        <div class="property_name">
                            Email
                        </div>
                        <div class="property_name">
                            Numer telefonu
                        </div>
                    </div>
                    <div class="properties_values">
                        <input class="property_value" id="name">
                        <input class="property_value" id="surname">
                        <input class="property_value" id="email">
                        <input class="property_value" id="phone">
                    </div>
                </div>
                <div class="accept_button_wrapper">
                    <button class="search_button" id="accept_button">Potwierdź!</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>